body {
    font-family: 'Anton', sans-serif;
}

.navbar img {
    width: 100%;
    height: auto;
}
.logo {
    max-width: 120px;
    max-height: 120px;
}
.navbar {
    background-color: #f0f0f0;
}
body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
}
img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.container > .col-* {
    border-radius: 20px;
    max-width: 350px;
    max-height: 350px;
}
.article-container {
    margin: 20px;
	
}
